@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0;
  padding: 0;
}

body {
  background: #202020;
  color: #e6f2f2;
  display: grid;
  place-items: center;
  height: 100dvh;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.creditCard {
  background: rgb(43, 43, 43);
  background: radial-gradient(circle, #2c2c2c 0%, #303030 100%);
}

.bankLogo {
  filter: drop-shadow(0 0 10px #ff7722);
}

.cardNumber {
  filter: drop-shadow(0 0 1px #f4ebd9);
}